.main-bar
  .main-bar__head
    .maim-bar__top-items
      .main-bar__group-name 
        = @group.name
      .main-bar__members-list 
        Member:
        - @group.users.each do |user|
          = user.name 
    = link_to 'Edit', edit_group_path(@group.id), class: 'main_bar__edit-btn'
  .main-bar__message-list
    = render partial: 'messages', collection: @messages
  .main-bar__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :body, class: 'Form__contents-text', placeholder: 'type a message'
        = f.label :image, class: 'Form__contents-image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit'