.main-bar
  .main-bar__head
    .maim-bar__top-items
      .main-bar__group-name 

      .main-bar__members-list 
        Member:
        .main-bar__group-members
          masa
    .main_bar__edit-btn 
      = link_to 'Edit', edit_group_path("groups/edit")
  .main-bar__message-list
    .message-box
      = render partial: 'messages', collection: @messages
  .main-bar__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        .Form__input-box
          = f.text_field :body, class: 'Form__input-text', placeholder: 'type a message'
          = f.label :image, class: 'Form__input-image' do
            = icon('far', 'image', class: 'Form__icon')
            = f.file_field :image, class: 'Hidden'
        = f.submit 'Send', class: 'Form__submit-btn'