.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name 
        = current_user.name
      %ul.top-items__icons
        %li.top-items__icons--edit 
        = link_to new_group_path("groups/new") do
          = icon('far', 'edit')
        %li.top-items__icons--cog 
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog')
  .side-bar__group-list
    .bottom-items
      .bottom-items__group techcamp
      .bottom-items__message まだメッセージはありません